# Ignore node_modules
node_modules/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE configurations
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.suo
*.ntvs_analysis.dat
*.ncb
*.sdf
*.dbmdl
*.opendb
*.pdb
*.obj
*.dll
*.exe
*.class
*.log
*.tmp
*.swp
