body {
  background-image: url("gabriel-ramos-575OvGrdfr8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  margin: 0;
  backdrop-filter: blur(5px);
}

:host {
  display: block;
  width: 100%;
}

footer-component {
  background-color: rgba(
    51,
    51,
    51,
    0.9
  ); /* Slightly transparent background for glass effect */
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.dashboard {
  display: grid;
  gap: 1.5rem;
}

.current-weather,
.hourly-weather,
.daily-forecast {
  background: rgba(
    255,
    255,
    255,
    0.3
  ); /* Semi-transparent background for glass effect */
  backdrop-filter: blur(10px); /* Glass effect */
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hourly-weather {
  display: flex;
  flex-direction: column;
}

.hourly-item {
  background: rgba(248, 249, 250, 0.6); /* Slightly transparent background */
  backdrop-filter: blur(6px); /* Glass effect */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;
  }

  .hourly-weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
