@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the toggle button */
.hidden {
  display: none;
}

@media (min-width: 768px) {
  .hidden {
    display: block;
  }
}

/* Custom styles for the select component */
select {
  transition: all 0.3s ease;
}

select:hover {
  border-color: #59eba7; /* Tailwind's blue-500 */
}

.card {
  @apply bg-white rounded-lg shadow-lg overflow-hidden;
}
.card img {
  @apply w-full h-48 object-cover;
}
